examples/lower-case.json
[
    {
        "id": "51f98e538210ec18",
        "type": "lower-case",
        "z": "5e71a54a805e38c7",
        "name": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "57a3e527a4e7f6cf"
            ]
        ]
    },
    {
        "id": "2c59b130ebaf3f14",
        "type": "inject",
        "z": "5e71a54a805e38c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AbCdEf",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "51f98e538210ec18"
            ]
        ]
    },
    {
        "id": "57a3e527a4e7f6cf",
        "type": "debug",
        "z": "5e71a54a805e38c7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    }
]